:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
  --color-button-hover: hsl(322, 100%, 77%);

  --font-poppins: 'Poppins', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-open-sans);
  font-weight: 300;
  width: 375px;
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}
