<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/emilielokietz/neuefische/design-exercise/css/style.css">
</head>

<body>
    <header class="header">


        <section class="top__bar">
            <img class="top__bar__logo" src="/Users/emilielokietz/neuefische/design-exercise/design/images/logo.svg"
                alt="Logo">
            <button class="top__bar__button button">Try It Free</button>
        </section>

        <section class="header__entry">


            <div class="header__entry__grid__1">
                <h1 class="header__entry__title">Build The Community Your Fans Will Love</h1>
                <p class="header__entry__text">Huddle re-imagines the way we build communities. You have a voice, but so
                    does your audience.
                    Create connections with your users as you engage in genuine discussion.</p>
                <button class="header__entry__button button">Get Started For Free</button>
            </div>

            <div class="header__entry__grid__2">
                <img class="header__entry__img"
                    src="/Users/emilielokietz/neuefische/design-exercise/design/images/illustration-mockups.svg" alt="">
            </div>


        </section>

    </header>



</body>

</html>