.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: 0px 0px 10px #dedede;
  border-radius: 20px;
  padding: 60px 30px 30px 30px;
  grid-template-areas: 'picture' 'text';
}

.card__imagebox {
  grid-area: picture;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card__text {
  grid-area: text;
  text-align: center;
}

.card__pic {
  height: 12rem;
  width: auto;
}

.card__text-color {
  color: hsl(206, 11%, 55%);
}
