.header {
  padding: 18px;
  background-image: url('../../design/images/bg-hero-mobile.svg');
  height: auto;
  background-color: var(--color-very-pale-cyan);
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-bar__logo {
  width: 164px;
  height: 27px;
}

.top-bar__button {
  background-color: white;
  border-color: hsla(0, 0%, 85%, 0.589);
  border-style: solid;
  padding: 4px 17px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #dedede;
  font-size: 0.7em;
  color: rgb(139, 138, 138);
}

.top-bar__button:hover {
  cursor: pointer;
  color: rgb(177, 177, 177);
}

.entry {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 60px 20px;
}

.entry__title {
  line-height: 32px;
  font-family: var(--font-poppins);
  font-weight: 600;
}

.entry__text {
  line-height: 24px;
}

.entry__button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 15px 20px;
  width: 80%;
  max-width: 320px;
  margin: 20px auto;
  color: white;
  border-radius: 25px;
  margin-bottom: 50px;
}

.entry__button:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
  border: 1px solid var(--color-button-hover);
  color: white;
}

.entry__img {
  width: 100%;
}
