<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Components/content/content.css">
</head>
<body>
  <main>
    <section class="main">
        <div class="main_contentbox">
            <img class="main_pic" src="/design/images/illustration-grow-together.svg">
        </div>
        <div class="main_text">
            <h2>Grow together</h2>
            <p class="main_text-color">Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.</p>
        </div>
    </section>

    <section class="main main_changer">
        <div class="main_contentbox">
            <img class="main_pic" src="/design/images/illustration-flowing-conversation.svg">
        </div> 
        <div class="main_text">
            <h2>Flowing Conversations</h2>
            <p class="main_text-color">You wouldn`t paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.</p>
        </div>
    </section>

    <section class="main">
        <div class="main_contentbox">
            <img class="main_pic" src="/design/images/illustration-your-users.svg">
        </div> 
        <div class="main_text">
            <h2>Your User</h2>
            <p class="main_text-color">It takes no time at all to integrate Huddle with your app`s authentication solution. This means, once signed in to your app, your users can start chatting immediately.</p>
        </div>
    </section>

    <section class="registration_form registration_mobile"> 
        <h2> Ready To Build Your Community?</h2>
        <button class="registration_button">Get Started For Free</button>
      </section>

</main>
</body>
</html>